# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/.vs/slnx.sqlite
/.vs/customer-front/FileContentIndex/8688bd7f-f881-4789-abfe-694af16c9f38.vsidx
/.vs/customer-front/FileContentIndex/a9ce8426-b768-4a4d-9439-f08a3f62a2f4.vsidx
/.vs/customer-front/FileContentIndex/aa230431-4287-4b39-b16b-dad15d2fee0c.vsidx
/.vs/customer-front/FileContentIndex/db2dbd2b-401a-4f2d-9860-de3a9e71e2dd.vsidx
